html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, main, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

:root {
    --line-height: 1.4rem;
    --paragraph-spacing: 0.75rem;
    --title-spacing: 2rem;
    --heading-spacing: 1.5rem;
    --font-size: 16px;
    --code-font-size: 0.8rem;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #EAF3FA;
        --background-branding: #F5255A;
        --panel: #0000001A;
        --panel-challenges: #8717542F;
        --panel-design-note: #389FF92F;
        --panel-tangent: #3EF9382F;
        --foreground: #040814;
        --foreground-branding: #EAF3FA;
        --foreground-dim: #707070;
        --primary: #F5255A;
        --secondary: #389FF9;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #040814;
        --background-branding: #F5255A;
        --panel: #FFFFFF10;
        --panel-challenge: #87175410;
        --panel-design-note: #389FF910;
        --panel-tangent: #3EF93810;
        --foreground: #EAF3FA;
        --foreground-branding: #EAF3FA;
        --foreground-dim: #909090;
        --primary: #F5255A;
        --secondary: #389FF9;
    }
}

html {
    font-family: "Source Sans Pro", sans-serif;
    font-size: var(--font-size);
}

html,
body {
    height:100vh;
    background: var(--background);
    color: var(--foreground);
    margin: 0;
    padding: 0;
}

article {
    font-family: Georgia, Times, 'Times New Roman', serif;
    padding: 0 0.5rem 0 0.5rem;
}

article p {
    margin: var(--paragraph-spacing) 0 var(--paragraph-spacing) 0;
}

article h1 {
    padding-top: var(--title-spacing);
    margin-bottom: var(--paragraph-spacing);
    font-size: calc(2 * var(--font-size));
}

article h2 {
    padding-top: var(--heading-spacing);
    margin-bottom: var(--paragraph-spacing);
    font-size: calc(1.6 * var(--font-size));
}

article h3 {
    padding-top: var(--heading-spacing);
    margin-bottom: var(--paragraph-spacing);
    font-size: calc(1.2 * var(--font-size));
    font-style: italic;
}

article div.number1 {
    float: right;
    padding-top: var(--title-spacing);
    font-size: calc(2 * var(--font-size));
    color: var(--foreground-dim);
    margin-right: 0.5rem;
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--code-font-size);
}

pre {
    background-color: var(--panel);
    margin: var(--paragraph-spacing) 0.25rem calc(1.5 * var(--paragraph-spacing)) 0.25rem;
    padding: 0.5rem;
    line-height: var(--code-font-size);
    border-radius: 0.5rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
}

pre code {
    padding: 0;
    border-radius: 0;
}

em {
    font-style: italic;
}

.shadow-5 {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
}

aside {
    font-size: 0.9rem;
    border-top: solid 1px var(--foreground-dim);
    border-bottom: solid 1px var(--foreground-dim);
    padding: 0.25rem 0 0.25rem 0;
}

aside p {
    margin-top: 0;
    margin-bottom: 0;
}

hr {
    border-color: var(--foreground-dim);
    border-top-width: 0;
}

.contents {
    font-family: "Source Sans Pro", sans-serif;
    color: var(--foreground);
}

.contents h1 {
    padding-top: 0;
}

.contents h2,
.contents h3,
.contents h4 {
    padding-top: 0;
    margin: 0.5rem 0;
}

.contents h1,
.contents h2 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.contents h1 {
    font-size: 2rem;
    padding: 2rem 0 0 0;
}

.contents h2 {
    font-size: 1.4rem;
    margin: 1rem 0 0 0;
}

.contents h3,
.contents h4 {
    font-style: normal;
    font-size: 1.2rem;
}

.contents a {
    text-decoration: none;
    color: var(--primary);
}

.contents .num {
    display: inline-block;
    width: 2rem;
}

.contents ul {
    list-style: none;
    margin-left: 2rem;
}

.challenge,
.design-note,
.tangent {
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem 0;
}

.challenge {
    background-color: var(--panel-challenges);
}

.design-note {
    background-color: var(--panel-design-note);
}

.tangent {
    background-color: var(--panel-tangent);
}

.challenge h1,
.design-note h1,
.tangent h1 {
    padding: 0;
}

.challenge h2,
.design-note h2,
.tangent h2 {
    padding: 0;
}

.challenge h3,
.design-note h3,
.tangent h3 {
    padding: 0;
}
