html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, main, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    --line-height: 1.4rem;
    --paragraph-spacing: 0.75rem;
    --title-spacing: 2rem;
    --heading-spacing: 1.5rem;
    --font-size: 1rem;
    --code-font-size: 0.8rem;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #FAFAFA;
        --background-branding: #871754;
        --panel: #CCCCCC;
        --panel-challenges: #8717541A;
        --panel-design-note: #389FF91A;
        --foreground: #000000;
        --foreground-branding: #FAFAFA;
        --foreground-dim: #707070;
        --primary: #FFC1FF;
        --secondary: #389FF9;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1B1B1B;
        --background-branding: #871754;
        --panel: #343434;
        --panel-challenges: #8717541A;
        --panel-design-note: #389FF91A;
        --foreground: #FAFAFA;
        --foreground-branding: #FAFAFA;
        --foreground-dim: #909090;
        --primary: #FFC1FF;
        --secondary: #389FF9;
    }
}

html,
body {
    height:100vh;
    font-family: "Source Sans Pro", sans-serif;
    font-size: var(--font-size);
    background: var(--background);
    color: var(--foreground);
    margin: 0;
    padding: 0;
}

article {
    font-family: Georgia, Times, 'Times New Roman', serif;
    padding: 0 0.5rem 0 0.5rem;
}

article p {
    margin: var(--paragraph-spacing) 0 var(--paragraph-spacing) 0;
}

article h1 {
    padding-top: var(--title-spacing);
    margin-bottom: var(--paragraph-spacing);
    font-size: calc(2 * var(--font-size));
}

article h2 {
    padding-top: var(--heading-spacing);
    margin-bottom: var(--paragraph-spacing);
    font-size: calc(1.75 * var(--font-size));
}

article h3 {
    padding-top: var(--heading-spacing);
    margin-bottom: var(--paragraph-spacing);
    font-size: calc(1.5 * var(--font-size));
    font-style: italic;
}

article div.number1 {
    float: right;
    padding-top: var(--title-spacing);
    font-size: calc(2 * var(--font-size));
    color: var(--foreground-dim);
    margin-right: 0.5rem;
}

code {
    background-color: var(--panel);
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--code-font-size);
    padding: 0.15rem;
    border-radius: 0.3rem;
}

pre {
    background-color: var(--panel);
    margin: var(--paragraph-spacing) 0.25rem 0 0.25rem;
    padding: 0.5rem;
    line-height: var(--code-font-size);
    border-radius: 0.5rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
}

pre code {
    padding: 0;
    border-radius: 0;
}

em {
    font-style: italic;
}

.shadow-5 {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
}

aside {
    font-size: calc(0.95 * var(--font-size));
    border-top: solid 1px var(--foreground-dim);
    border-bottom: solid 1px var(--foreground-dim);
    padding: 0.25rem 0 0.25rem 0;
}

aside p {
    margin-top: 0;
    margin-bottom: 0;
}

hr {
    border-color: var(--foreground-dim);
}
