:root {
    --sidebar-width: 336px;
    --main-width: calc(925px - 2rem);
    --article-width: calc(650px - 2rem);
}

nav.floating {
    display: none;
}

nav.narrow {
    display: none;
}

nav.wide {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: calc(var(--sidebar-width) - 90px);
    padding-top: 40px;
    justify-content: center;
    background: var(--background-branding);
    padding-left: 45px;
    padding-right: 45px;
}

nav.wide h1 {
    width: 100%;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 1rem;
}

nav.wide .logo {
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

nav.wide .logo a {
    color: var(--foreground-branding);
    text-decoration: none;
}

main {
    position: relative;
    width: var(--main-width);
    margin: 0;
    margin-left: calc(2rem + var(--sidebar-width));
}

article {
    position: relative;
    width: var(--article-width);
}

aside {
    position: absolute;
    left: calc(var(--article-width) + 1rem);
    width: calc(var(--main-width) - var(--article-width) - 1.5rem);
}

.chapters .columns div {
    float: left;
    width: 50%;
}
