:root {
    --nav-narrow-height: 2.5rem;
}

.wide {
    display: none;
}

nav.narrow {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--panel);
    width: 100vw;
    height: var(--nav-narrow-height);
    font: 1rem "Source Sans Pro", sans-serif;
    text-align: center;
}

nav.narrow a {
    height: var(--nav-narrow-height);
    line-height: var(--nav-narrow-height);
    color: var(--foreground);
    text-decoration: none;
}

nav.narrow .prev,
nav.narrow .next {
    position: absolute;
    padding: 0 2rem 0 2rem;
}

nav.narrow .prev {
    left: 0;
}

nav.narrow .next {
    right: 0;
}

main {
    margin-top: var(--nav-narrow-height);
}

aside {
    font-size: calc(0.95 * var(--font-size));
    border-top: solid 1px var(--foreground-dim);
    border-bottom: solid 1px var(--foreground-dim);
    margin-top: calc(2 * var(--paragraph-spacing));
    margin-bottom: calc(2 * var(--paragraph-spacing));
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.25rem 0 0.25rem 0;
}

aside p {
    margin-top: 0;
}
