.overview {
    margin-left: 1rem;
    margin-right: 1rem;
}

.overview a {
    font-size: 1rem;
    margin: 0;
    color: var(--foreground-branding);
    text-decoration: none;
    cursor: pointer;
}

.overview ul {
    list-style: none;
    list-style-type: none;
    border-top: solid 1px var(--foreground-branding);
    border-bottom: solid 1px var(--foreground-branding);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.overview li {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
}

.overview li small {
    font-size: 0.8rem;
    float: right;
}

.overview h2 a {
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0;
    text-decoration: none;
}

.overview .prev-next {
    text-align: center;
}

.overview .prev-next .left {
    float: left;
}

.overview .prev-next .right {
    float: right;
}
