:root {
    --main-width: calc(925px - 2rem);
    --article-width: calc(650px - 2rem);
}

nav {
    display: none;
}

main {
    position: relative;
    width: var(--main-width);
    margin: 0;
}

article {
    position: relative;
    width: var(--article-width);
}

aside {
    position: absolute;
    left: calc(var(--article-width) + 1rem);
    width: calc(var(--main-width) - var(--article-width) - 1.5rem);
}
