:root {
    --main-width: calc(768px - 2rem);
    --article-width: calc(500px - 2rem);
    --nav-floating-height: 200px;
}

nav.wide {
    display: none;
}

nav.narrow {
    display: none;
}

.nav-wrapper {
    z-index: 2;
    position: fixed;
    max-width: var(--main-width);
    margin: 0 auto;
}

nav.floating {
    display: block;
    position: absolute;
    left: calc(var(--article-width) + 0.5rem);
    width: calc(var(--main-width) - var(--article-width) - 1rem);
    padding: 100px 0 0 0;
    min-height: calc(var(--nav-floating-height) - 100);
    background-color: var(--background-branding);
    text-align: center;
    transition: padding 0.3s ease;
}

nav.floating.pinned {
    padding: 10px 0 0 0;
}

nav.floating a.branding {
    color: var(--foreground-branding);
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
}

nav.floating .expandable {
    overflow: hidden;
    margin-top: 1rem;
    position: relative;
    top: calc(100% - 4rem);
    max-height: 0;
    transition: margin 0.2s ease, max-height 1s ease;
}

nav.floating .expandable.shown {
    max-height: 550px;
}

nav.floating.pinned .expandable {
    margin-top: 0.25rem;
}

nav.floating a.expand-nav {
    display: block;
    width: 100%;
    color: var(--foreground-branding);
    font-size: 1.25rem;
    text-align: center;
    cursor: pointer;
}

main {
    position: relative;
    max-width: var(--main-width);
    margin: 0 auto;
}

article {
    position: relative;
    width: inherit;
    margin-right: calc(var(--main-width) - var(--article-width));
}

aside {
    position: absolute;
    left: calc(var(--article-width) + 0.5rem);
    width: calc(var(--main-width) - var(--article-width) - 1rem);
}
