html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, main, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    --background: #1B1B1B;
    --panel: #343434;
    --panel-challenges: #ff97a01A;
    --panel-design-note: #67B7FF1A;
    --foreground: #FAFAFA;
    --foreground-dim: #909090;
    --primary: #FF97A0;
    --secondary: #67B7FF;
    --line-height: 1.4rem;
}

html,
body {
    height:100vh;
    font-family: "Source Sans Pro", sans-serif;
    background: var(--background);
    color: var(--foreground);
    margin: 0;
    padding: 0;
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
    padding: 2px;
    background-color: var(--panel);
}

em {
    font-style: italic;
}

nav {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: calc(336px - 90px);
    padding-top: 40px;
    justify-content: center;
    background: var(--panel);
    padding-left: 45px;
    padding-right: 45px;
}

nav h1 {
    width: 100%;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 1rem;
}

.logo {
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.logo a {
    color: var(--foreground);
    text-decoration: none;
}

nav .overview {
    margin: auto;
}

nav .overview a {
    font-size: 1rem;
    margin: 0;
    color: var(--foreground);
    text-decoration: none;
    cursor: pointer;
}

nav ul {
    list-style: none;
    list-style-type: none;
    border-top: solid 1px var(--foreground);
    border-bottom: solid 1px var(--foreground);
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

nav li {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
}

nav li small {
    font-size: 0.8rem;
    float: right;
}

nav .overview h2 a {
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0;
    text-decoration: none;
}

nav .overview .prev-next {
    text-align: center;
}

nav .overview .prev-next .left {
    float: left;
}

nav .overview .prev-next .right {
    float: right;
}

main {
    margin: 0;
    font-size: 1.2rem;
    margin-left: calc(336px + 1rem);
    width: 925px;
    line-height: var(--line-height);
}

article {
    font-family: Georgia, Times, 'Times New Roman', serif;
    width: 575px;
    padding-bottom:30px;
}

article p {
    margin-top: 1.2rem;
    margin-bottom: 0;
    text-align: justify;
}

article a {
    color: var(--primary);
}

article h1 {
    font-size: 3.2rem;
    line-height: 3.2rem;
    padding-top: 109px;
    padding-bottom: 19px;
}

article h2 {
    font-size: 2rem;
    line-height: 2rem;
    padding: 70px 0 0 3px;
}

article h3 {
    font-style: italic;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 35px 0 0 3px;
}

article div.number1 {
    float: right;
    font-size: 3.2rem;
    line-height: 3.2rem;
    padding-top: 109px;
    padding-bottom: 19px;
    color: var(--foreground-dim);
}

article div.number2 {
    float: right;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 70px 0 0 3px;
    color: var(--foreground-dim);
}

article div.number3 {
    float: right;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 35px 0 0 3px;
    color: var(--foreground-dim);
}

article blockquote {
    position: relative;
    color: var(--primary);
    font-size: 1.5rem;
    font-style: italic;
    margin-left: 60px;
    margin-right: 60px;
}

article blockquote::before,
article blockquote::after {
    position: absolute;
    top: -20px;
}

article blockquote::before {
    content: "“";
    left: -7px;
}

article blockquote::after {
    content: "”";
    right: 8px;
}

article blockquote cite {
    color: var(--primary);
    font-size: 1.3rem;
    font-style: italic;
    text-align: right;
    display: block;
}

article blockquote cite::before {
    content: "— ";
}

article ul {
    margin-left: 2rem;
}

article aside {
    position: absolute;
    left: calc(575px + 336px + 2rem);
    width: 250px;
    border-top: solid 1px var(--foreground);
    font-size: 1rem;
    margin-top: calc(1 * var(--line-height));
}

article aside.up1 {
    margin-top: calc(-1 * var(--line-height));
}

article aside.up2 {
    margin-top: calc(-2 * var(--line-height));
}

article aside.up3 {
    margin-top: calc(-3 * var(--line-height));
}

article aside.up4 {
    margin-top: calc(-4 * var(--line-height));
}

article aside.up5 {
    margin-top: calc(-5 * var(--line-height));
}

article aside.down1 {
    margin-top: calc(2 * var(--line-height));
}

article aside.down2 {
    margin-top: calc(3 * var(--line-height));
}

article aside.down3 {
    margin-top: calc(4 * var(--line-height));
}

article aside.down4 {
    margin-top: calc(5 * var(--line-height));
}

article aside.down5 {
    margin-top: calc(6 * var(--line-height));
}

article div.challenges,
article div.design-note {
    padding: 20px;
    border-radius: 16px;
    margin-top: 1rem;
}

article div.challenges {
    background-color: var(--panel-challenges);
}

article div.design-note {
    background-color: var(--panel-design-note);
}

article div.challenges h1,
article div.design-note h1 {
    font-size: 3.2rem;
    line-height: 3.2rem;
    padding-top: 19px;
    padding-bottom: 19px;
}

article div.challenges h2,
article div.design-note h2 {
    font-size: 2rem;
    line-height: 2rem;
    padding: 11px 0 0 3px;
}

article div.challenges h3,
article div.design-note h3 {
    font-style: italic;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 11px 0 0 3px;
}

article div.challenges ul,
article div.design-note ul,
article div.challenges ol,
article div.design-note ol {
    margin-top: 1.75rem;
    margin-left: 2rem;
}

.shadow-5 {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
}

pre {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    margin-top: 1.5rem;
    background: var(--panel);
    padding: 0.5rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
}

.sourceCode .kw {
    color: #268BD2;
}

.sourceCode .op {
    color: #999999;
}

.sourceCode .dt {
    color: #268BD2;
}

.sourceCode .pp,
.sourceCode .cf {
    color: #268BD2;
}

.sourceCode .dv,
.sourceCode .bn,
.sourceCode .fl {
    color: #D33682;
}

.sourceCode .ch {
    color: #DC322F;
}

.sourceCode .st,
.sourceCode .im {
    color: #2AA198;
}

.sourceCode .sc {
    color: #785AC1;
}

.sourceCode .co {
    color: #93A1A1;
}

.sourceCode .ot {
    color: #A57800;
}

.sourceCode .al {
    color: #CB4B16;
    font-weight: bold;
}

.sourceCode .fu {
    color: #268BD2;
}

.sourceCode .re {}

.sourceCode .er {
    color: #D30102;
    font-weight: bold;
}